<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsSco10ZZ9LTO4GGSBud43Lgov_T2XH6o</string>
	<key>GCM_SENDER_ID</key>
	<string>483009989253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estudoDeCaso</string>
	<key>PROJECT_ID</key>
	<string>via-store</string>
	<key>STORAGE_BUCKET</key>
	<string>via-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483009989253:ios:d2638c74b266af2a8bb7ec</string>
</dict>
</plist>